.data {
  width: 200px;
  height: 200px;
  border:1px solid;
  float:right;
}

.gameC {
  position: absolute;
  left: 9px;
  top: 9px;
}

.main {
  width: 500px;
  height: 550px;
  border:1px solid;
  float:left;
}

.outer {
  width: 710px;
  height: 550px;
}

#backC {
  z-index: 1;
}

#mainC {
  z-index: 2;
}

#topC {
  z-index: 3;
}
